---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: rpaasinstanceaddresses.extensions.tsuru.io
spec:
  group: extensions.tsuru.io
  names:
    kind: RpaasInstanceAddress
    listKind: RpaasInstanceAddressList
    plural: rpaasinstanceaddresses
    singular: rpaasinstanceaddress
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.ready
      name: Ready
      type: boolean
    - jsonPath: .status.ips[*]
      name: Addresses
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RpaasInstanceAddress is the Schema for the rpaasinstanceaddresses
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RpaasInstanceAddressSpec defines the desired state of RpaasInstanceAddress
            properties:
              instance:
                type: string
              serviceName:
                type: string
            type: object
          status:
            description: ResourceAddressStatus defines the observed state of TsuruAppAddress
              and RpaasInstanceAddress
            properties:
              ips:
                items:
                  type: string
                type: array
              ready:
                type: boolean
              reason:
                type: string
              updatedAt:
                type: string
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
